<header>
    <nav>
        <a href="/">Maturitní posudky</a>
        <ul>
            <li>
                <a href="/reviews">Posudky</a>
            </li>
            <li>
                <a href="/reviews/new">Nový posudek</a>
            </li>
        </ul>
    </nav>
</header>