<h2>Výpis posudků</h2>
<form action="/reviews" method="get">
    <input type="text" name="title" id="title">
    <button type="submit" value="
    <% if (locals.searchOptions) { %>
        <%= searchOptions.title %>
    <% } %>
    ">Vyhledat</button>
</form>
<% reviews.forEach(review => { %>
    <div>
        <%= review.title %>
    </div>
<% }) %>