<h2>Výpis posudků</h2>
<form action="/reviews" method="get">
    <input type="text" name="title" id="title">
    <button type="submit" value="
    <% if (locals.searchOptions != null) { %>
        <%= searchOptions.title %>
    <% } %>
    ">Vyhledat</button>
</form>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3 card-group">
        <% reviews.forEach(review => { %>
            <a href="/reviews/<%= review.id %>" class="card bg-light">
                <div>
                    <%= review.title %>
                </div>
            </a>
        <% }) %>
    </div>
</div>