<form method="POST" action="/users/login">
    <h2 class="h3 mb-3 fw-normal">Please sign in</h1>

      <%- include("./partials/form_fields.ejs") %>

    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Přihlásit se</button>
</form>